*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blue;
    color: white;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(43, 43, 122);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 30px;
}

.left{
    font-size: 2rem;
}